<footer>
    <div class="col-12">
        <div class="text-center">
            <img src="{{ asset('img/pointsenbasdepage.jpg') }}" alt="pointEnBasDePage" class="pointEnBas">
        </div>
        <div class="text-center">
            <ul class="nav justify-content-center">
                <li class="nav-item sociaux">
                    <a class="" href="https://www.facebook.com/CoralieGrilloLFDS/" target="_blank" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li class="nav-item sociaux">
                    <a class="" href="https://www.instagram.com/lafabricdessublimes/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item sociaux">
                    <a class="" href="https://www.linkedin.com/in/coralie-grillo-032b3a57" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="nav-item sociaux">
                    <a class="" href="https://www.pinterest.fr/coraliegrilloLFDS/" target="_blank" rel="noreferrer"><i class="fab fa-pinterest"></i></a>
                </li>
                <li class="nav-item sociaux">
                    <a class="" href="https://www.etsy.com/fr/shop/LaFabricdesSublimes?ref=seller-platform-mcnav" target="_blank" rel="noreferrer"><i class="fab fa-etsy"></i></a>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <img src="{{ asset('img/morceaulogobasdepage.jpg') }}" class="img-fluid logo-bas" alt="morceauDeLogo" >
        </div>
    </div>

</footer>