footer{
    margin-top: 80px;
}
.logo-bas{
    width: 280px;
    height: 185px;
}
i{
    font-size: 40px;
    color: black;
}
.list-group-item{
    margin: 0 10px 10px 0;
    border: none;
}
.sociaux{
    margin: 30px 30px;
}

@media screen and (max-width: 499px) {
    .pointEnBas{
        width: 300px;
    }
}