{% extends 'base.html.twig' %}

{% block title %}New Creation{% endblock %}

{% block body %}
    <h1>Create new Creation</h1>

    {{ include('admin/creation/_form.html.twig') }}

    <a href="{{ path('admin_creation_list') }}">back to list</a>
{% endblock %}
